SECRET_KEY=123
SQLALCHEMY_DATABASE_URI=sqlite:///sqlite.db
UPLOAD_URL=http://localhost:8050

OPENAI_API_KEY=secret

R_KEY=redis://localhost:6379

PINECONE_API_KEY=secret
PINECONE_ENV_NAME=us-east-1
PINECONE_INDEX_NAME=docs

LF_PUBLIC_KEY=asd
LF_SECRET_KEY=asd
